@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meow+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Michroma&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
}

.container {
    max-width: 1140px;
}

nav {
    width: 100%;
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 0;
    padding: 0 40px;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 80px;
            height: 80px;

            img {
                width: 100%;
            }
        }

        .nav_menu {
            width: auto;
            display: flex;
            justify-content: end;
            align-items: center;

            ul.nav_items {
                list-style: none;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 60px;

                .nav_item {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #000;
                        font-size: 14px;
                    }

                    a:hover {
                        color: #456776;
                        filter: drop-shadow(0 10px 10px 6px rgb(55, 10, 97));
                    }
                }
            }
        }
    }

}

nav .container .nav_menu .nav_items .nav_item:is(:not(:last-child)) a {
    position: relative;
}

nav .container .nav_menu .nav_items .nav_item:is(:not(:last-child)) a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;
    width: 0%;
    height: 1px;
    background-color: #456776;
    transition: all 0.5s ease;
}

nav .container .nav_menu .nav_items .nav_item:is(:not(:last-child)) a:hover::after {
    width: 100%;
}

nav .container .nav_menu .nav_items .nav_item:last-child a {
    background-color: #000;
    color: #fff;
    padding: 12px 30px;
    position: relative;
}

nav .container .nav_menu .nav_items .nav_item:last-child a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: rgb(176, 174, 178);
    transition: all 0.5s ease;
}

nav .container .nav_menu .nav_items .nav_item:last-child a:hover {
    background-color: transparent;
    color: #fff;
}

nav .container .nav_menu .nav_items .nav_item:last-child a:hover::after {
    width: 100%;
}

nav .container .nav_menu .menu_icon {
    display: none;
}

nav .container .nav_menu .close_btn {
    display: none;
}

.banner {
    min-height: 100vh;
    padding: 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff28, #000000) fixed;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
}

.banner .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.banner .container .row img {
    /* display: none; */
    width: 70%;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    right: 0;
    transform: translateY(55%);
    filter: drop-shadow(0px 20px 10px #1a191984) saturate(0) brightness(1.1);
}

.banner .container h1 {
    color: #000;
    font-size: 60px;
    line-height: 70px;
}

.banner .container p {
    font-size: 20px;
    color: #000;
}

.banner .container .main_btn {
    padding: 14px 40px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    transition: all 0.5s ease;
    box-shadow: 0 20px 20px 0 #30303023;
    position: relative;
    z-index: 2;
}

.banner .container .main_btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: rgb(176, 174, 178);
    transition: all 0.5s ease;
}

.banner .container .main_btn:hover {
    background-color: transparent;
    color: #fff;
}

.banner .container .main_btn:hover::after {
    width: 100%;
}


/* =========== about_me ========== */

.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    padding: 100px 40px;
}

.about .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 50px;
}

.about .container .row .text_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.about .container .row .text_content h2 {
    color: #fff;
    font-size: 45px;
}

.about .container .row .text_content p {
    font-size: 16px;
    color: #fff;
}

.about .container .row .text_content .social_links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.about .container .row .text_content .social_links .social_btn {
    color: #fff;
    text-decoration: none;
    gap: 15px;
}

.about .container .row .text_content .social_links .social_btn i {
    margin-right: 5px;
    background-color: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 20px;
    transition: all 0.5s ease;
}

.about .container .row .text_content .social_links .social_btn:hover i {
    background-color: #456776;
    color: #fff;
}

.about .container .row .image_content {
    width: 100%;
}

.about .container .row .image_content img {
    width: 100%;
}



.videos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px 50px 40px;
}

.videos .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos .container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.videos .container .row .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos .container .row .heading h2 {
    font-size: 45px;
}

.videos .container .row .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: visible;
}

.videos .container .row .content video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}










.gallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    position: relative;
}

.gallery .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gallery .container .row .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .container .row .heading h2 {
    font-size: 45px;
}

.gallery .container .row .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: visible;
}

.gallery .container .row .content .swiper {
    width: 100%;
    height: 100%;
}

.gallery .container .row .content .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.gallery .container .row .content .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .container .row .content .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.gallery .container .row .content .swiper .swiper-pagination {
    position: absolute;
    width: 100%;
    bottom: -20px;
}

footer {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 50px 40px;
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .logo {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

footer .container .logo img {
    width: 100%;
}

footer .container .footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer .container .footer_menu a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

footer .container .footer_menu a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;
    width: 0%;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
}

footer .container .footer_menu a:hover::after {
    width: 100% !important;
}

footer .container .social_link_footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

footer .container .social_link_footer a i {
    color: #fff;
    font-size: 24px;
    transition: all 0.5s ease;
}

footer .container .social_link_footer a i:hover {
    background-color: #fff;
    color: #000;
    padding: 15px;
    height: auto;
}

footer .footer_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer .container .copyright {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

/* @media only screen and (min-width: 1440px) and (max-width: 1599px){
    html {
        zoom: 0.95;
        zoom: 95%;
    }
} */

/* @media only screen and (min-width: 1201px) and (max-width: 1439px){
    html {
        zoom: 0.95;
        zoom: 95%;
    }
} */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    html {
        zoom: 0.85;
        zoom: 85%;
    }
}

@media(max-width: 1024px) {
    nav {
        width: 100%;
        padding: 0 20px;
    }

    nav.container {
        position: relative;
    }

    nav .container .menu_icon {
        display: block;
        font-size: 24px;
    }

    nav .container .close_btn {
        font-size: 24px;
        display: none;
    }

    nav .container .nav_menu {
        height: auto;
        display: none;
    }

    nav .container .nav_menu ul.nav_items {
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: #fff;
        padding: 20px 20px 40px 20px;
        gap: 25px !important;
        height: auto !important;
    }

    nav .container .nav_menu .nav_items .nav_item {
        height: auto;
    }

    /* ======== banner ========== */

    .banner .container .row {
        gap: 10px;
    }

    .banner .container h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .banner .container p {
        font-size: 16px;
    }

    .banner .container .main_btn {
        padding: 10px 25px;
        margin-top: 10px;
        font-size: 14px;
    }

    /* =========== about_me ========== */

    .about {
        padding: 25px 20px;
    }

    .about .container .row {
        gap: 20px 30px;
    }

    .about .container .row .text_content {
        gap: 15px;
    }

    .about .container .row .text_content h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .about .container .row .text_content p {
        font-size: 12px;
        line-height: 1.4em;
    }

    .about .container .row .text_content .social_links .social_btn i {
        width: 30px;
        height: 30px;
    }

    .videos {
        padding: 25px 20px 25px 20px;
    }

    .videos .container .row {
        gap: 30px;
    }

    .videos .container .row .heading h2 {
        font-size: 32px;
    }

    .videos .container .row .content {
        gap: 10px;
    }

    .videos .container .row .content video {
        height: 300px;
    }

    .gallery {
        padding: 25px 20px;
    }

    .gallery .container .row {
        gap: 30px;
    }

    .gallery .container .row .heading h2 {
        font-size: 32px;
    }

    .gallery .container .row .content .swiper .swiper-slide img {
        height: 300px;
    }

    footer {
        min-height: 150px;
        padding: 25px 20px;
    }

    footer .container .logo {
        width: 60px;
    }

    footer .container .footer_menu {
        gap: 20px;
    }

    footer .container .footer_menu a {
        font-size: 12px;
    }

    footer .container .copyright {
        font-size: 12px;
    }
}

@media(max-width: 880px) {
        .banner .container h1 {
            font-size: 32px;
            line-height: 40px;
        }
         .banner .container p {
            font-size: 12px;
         }
         .banner .container .main_btn {
            font-size: 12px;
            margin-top: 8px;
            padding: 8px 15px;
         }

         /* =========== about_me ========== */

         .about .container .row .text_content h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .about .container .row .text_content p {
        font-size: 10px;
        line-height: 1.6em;
    }

    .about .container .row .text_content .social_links .social_btn i {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .videos {
        padding: 15px 20px;
        overflow: scroll;
    }

    .videos .container .row .heading h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .gallery {
        padding: 15px 20px;
    }

    .gallery .container .row {
        gap: 20px;
    }

    .gallery .container .row .heading h2 {
        font-size: 24px;
        line-height: 32px;
    }
}

@media(max-width: 767px) {
    nav {
        padding: 0 15px;
    }

    nav .container .logo {
        width: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .banner {
        padding: 40px 15px;
        height: 100svh;
    }
    .banner .container .row img {
        width: 120%;
        right: -40px;
        bottom: 45%;
    }

    .banner .container p {
        font-size: 10px;
        width: 60%;
    }

    .about {
        padding: 40px 15px 40px 15px;
    }

    .about .container .row {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .about .container .row .text_content {
        gap: 10px;
    }

    .about .container .row .text_content h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .about .container .row .text_content .social_links {
        margin-top: 15px;
    }

    .about .container .row .image_content img {
        height: 260px;
        object-fit: cover;
        object-position: top center;
    }

    .videos {
        padding: 40px 15px;
        height: auto;
    }

    .videos .container .row .heading h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .videos .container .row .content video {
        height: 200px;
    }

    .gallery {
        padding: 20px 15px;
    }

    .gallery .container .row .heading h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .gallery .container .row .content .swiper .swiper-slide img {
        height: 200px;
    }

    footer {
        padding: 20px 15px;
        gap: 20px;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer .container .footer_menu {
        flex-direction: column;
    }

    footer .container .footer_menu a {
        font-size: 10px;
    }

    footer .container .copyright {
        font-size: 10px;
    }
}